.navigation {
  width: $full;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;

  z-index: 100;
  position: absolute;
  background-color: transparent;

  &.sticky {
    box-shadow: 0 0.2rem 1.2rem 0 $shadowNav;
    position: fixed;
    background-color: $white-std;
    animation-name: stickySlideDown;
    animation-duration: 0.5s;
    transition: 0.5s;
    transition: none;

    // MEDIA QUERY
    @include media(tablet-l) {
      background-color: $bg-white-std;
    }
  }

  // ANIMATION
  @keyframes stickySlideDown {
    0% {
      opacity: 0.7;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // MEDIA QUERY
  @include media(tablet-l) {
    padding: 0.5rem $pad-tab;
    justify-content: space-between;
  }

  &__link {
    // MEDIA QUERY
    @include media(tablet-l) {
      width: 50%;
    }
  }

  &__logo {
    object-fit: contain;
    // MEDIA QUERY
    @include media(tablet-l) {
      width: 15rem;
    }
  }
  &__navbar {
    margin-left: auto;

    // MEDIA QUERY
    @include media(tablet-l) {
      display: none;
    }
  }
  &__items {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
  &__item {
    font-size: $typo-n;
    text-transform: uppercase;
    a.active {
      color: $secondary-std;
    }
  }
  &__buttons {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    // MEDIA QUERY
    & button:last-child {
      @include media(desktop-l) {
        display: none;
      }
    }

    @include media(tablet-l) {
      display: none;
    }
  }
}
