.navigation {
  @include flexAlignCenter;
  position: absolute;
  width: $full;
  background-color: transparent;
  padding: 0 2.4rem;
  z-index: 100;

  &.sticky {
    box-shadow: 0 0.2rem 1.2rem 0 $shadowNav;
    position: fixed;
    background-color: $white-std;
    animation-name: stickySlideDown;
    animation-duration: 0.5s;
    transition: 0.5s;
    transition: none;

    // MEDIA QUERY
    @include media(tablet-l) {
      background-color: $bg-white-std;
    }
  }

  // ANIMATION
  @keyframes stickySlideDown {
    0% {
      opacity: 0.7;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // MEDIA QUERY
  @include media(tablet-l) {
    padding: 0.5rem $pad-phone;
    justify-content: space-between;
  }

  &__link {
    // MEDIA QUERY
    @include media(tablet-l) {
      width: 50%;
    }
  }

  &__logo {
    object-fit: contain;
    // MEDIA QUERY
    @include media(tablet-l) {
      width: 14rem;
    }
  }

  &__navbar {
    margin-left: auto;

    // MEDIA QUERY
    @include media(desktop) {
      display: none;
    }
  }

  &__burger {
    display: none;

    // MEDIA QUERY
    @include media(tablet-l) {
      display: block;
    }
  }

  &__items {
    @include flexAlignCenter;
    gap: 1.5rem;
    list-style: none;
  }

  &__item {
    font-size: $typo-n;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $secondary-std;
    }

    a.active {
      color: $secondary-std;
    }

    &--lang {
      cursor: pointer;
    }

    // MEDIA QUERY
    @include media(desktop) {
      font-size: $typo-s;
    }

    @include media(phone-l) {
      font-size: $typo-n;
    }
  }

  &__drawer {
    @include flexCenter;

    cursor: pointer;
    background-image: $drawer;
    border-radius: 0.2rem;
    width: 3.6rem;
    height: 3.6rem;
    transition: all 0.8s ease;

    &:hover {
      box-shadow: 0 8px 12px 0 rgb(61 156 199 / 30%);
      transform: translateY(-2px);
    }
  }

  &__buttons {
    @include flexAlignCenter;
    padding-left: 1.5rem;
    gap: 1.5rem;

    // MEDIA QUERY
    & button:last-child {
      @include media(desktop-s) {
        display: none;
      }
    }

    @include media(desktop) {
      display: none;
    }
  }
}
