// TYPOGRAPHY
$typo-xs: 1rem;
$typo-s: 1.2rem;
$typo-n: 1.5rem;
$typo-m: 1.8rem;
$typo-l: 2rem;
$typo-xl: 2.8rem;
$typo-xxl: 3.8rem;
$typo-hero: 5rem;
$typo-hero-l: 6rem;
$typo-hero-tablet: 4rem;

$s8: 740px;
$s9: 670px;

// FONT WEIGHT
$f1: 100;
$f2: 200;
$f3: 300;
$f4: 400;
$f5: 500;
$f6: 600;
$f7: 700;
$f8: 800;
$f9: 900;

// COLORS
$cool-blue-30: hsla(199, 55%, 51%, 0.3);
$windows-blue-30: hsla(199, 55%, 51%, 0.3);
$bg-white-std: hsla(0, 0%, 100%, 0.75);
$white-std: hsl(0, 0%, 100%);
$white-20: hsla(0, 0%, 100%, 0.2);
$white-40: hsla(0, 0%, 100%, 0.4);
$white-55: hsla(0, 0%, 100%, 0.55);
$grey-dark-55: hsla(200, 19%, 18%, 0.55);
$grey-dark-85: hsla(200, 19%, 18%, 0.85);
$grey-dark-40: hsla(200, 19%, 18%, 0.4);
$grey-dark-std: hsl(200, 19%, 18%);
$grey-light-55: hsla(0, 0%, 96%, 0.55);
$grey-light-std: hsl(0, 0%, 96%);
$grey-medium-std: hsl(252, 5%, 79%);
$grey-medium-55: hsla(252, 5%, 79%, 0.55);
$grey-medium-20: hsla(252, 5%, 79%, 0.2);
$grey-medium-70: hsla(252, 5%, 79%, 0.7);
$primary-55: hsla(174, 63%, 40%, 0.55);
$primary-std: hsl(174, 63%, 40%);
$primary-85: hsla(174, 63%, 40%, 0.85);
$primary-40: hsla(174, 63%, 40%, 0.4);
$alert-dark: hsl(33, 100%, 49%);
$alert-std: hsl(42, 100%, 50%);
$alert-light: hsl(45, 100%, 54%);
$alert-lighten: hsl(54, 100%, 67%);
$secondary-std: hsl(199, 92%, 56%);
$secondary-55: hsla(199, 92%, 56%, 0.55);
$secondary-85: hsla(199, 92%, 56%, 0.85);
$secondary-dark: hsl(201, 98%, 41%);
$unselected: hsla(0, 1%, 34%, 0.851);
$unselected-bg: hsla(0, 1%, 34%, 0.36);
$valid-dark: hsl(122, 52%, 32%);
$valid-std: hsl(122, 39%, 49%);
$valid-light: hsl(88, 50%, 60%);
$error-dark: hsl(353, 73%, 42%);
$error-light: hsl(4, 100%, 63%);
$error-std: hsl(1, 77%, 55%);
$pink-red: hsl(340, 82%, 52%);
$pale-turquoise: hsl(174, 38%, 80%);
$bg-azure: hsla(199, 92%, 56%, 0.1);
$cool-blue-30: hsla(199, 55%, 51%, 0.3);
$shadowNav: hsla(199, 49%, 49%, 0.2);
$gradient: linear-gradient(236deg, $secondary-std, $primary-std);
$offers: linear-gradient(
  236deg,
  hsla(199, 92%, 56%, 0.8),
  hsla(174, 63%, 40%, 0.55)
);
$drawer: linear-gradient(265deg, #81888b, #263238);

// LAYOUT
$container: 120rem;

// BREAKPOINTS
$mobile-xs: 17.5rem !default;
$mobile-s: 20rem !default;
$mobile-m: 24rem !default;
$mobile-l: 33.75rem !default;
$tablet: 48rem !default;
$tablet-l: 52rem !default;
$desktop: 64rem !default;
$desktop-s: 74rem !default;
$desktop-m: 90rem !default;
$desktop-l: 160rem !default;
$full: 100%;

// MEDIA QUERIES
$responsiveMobileXSmall: "(max-width: #{$mobile-xs})";
$responsiveMobileSmall: "(max-width: #{$mobile-s})";
$responsiveMobileMedium: "(max-width: #{$mobile-m})";
$responsiveMobileLarge: "(max-width: #{$mobile-l})";
$responsiveTablet: "(max-width: #{$tablet})";
$responsiveTabletLarge: "(max-width: #{$tablet-l})";
$responsiveDesktopNormal: "(max-width: #{$desktop})";
$responsiveDesktopSmall: "(max-width: #{$desktop-s})";
$responsiveDesktopMedium: "(max-width: #{$desktop-m})";
$responsiveDesktopLarge: "(max-width: #{$desktop-l})";
$responsiveDesktopFull: "(max-width: #{full})";

// RESPONSIVE PADDING
$pad-phone: 1.5rem;
$pad-tab: 2.5rem;
