.joinUs {
  @include flexAlignBaseline;

  padding-bottom: 14rem;
  gap: 3rem;

  // MEDIA QUERY
  @include media(tablet-l) {
    padding: 0 2rem;
  }

  @include media(phone-l) {
    padding: 0;
  }

  &__header {
    @include flexAlignCenter;

    text-align: center;
    position: relative;
    min-height: 55vh;

    // MEDIA QUERY
    @include media(tablet-l) {
      min-height: 40vh;
    }
  }

  &__title {
    margin-bottom: 2rem;
    // MEDIA QUERY
    @include media(tablet-l) {
      font-size: $typo-xl;
    }
  }

  &__searchContainer {
    position: absolute;
    margin-bottom: 10rem;
    width: 100%;
    height: 8rem;
    box-shadow: 0 0 1.2rem 0 $grey-medium-20;
    background-image: $gradient;

    @include flexCenter;
  }

  &__inputContainer {
    position: relative;

    // MEDIA QUERY
    @include media(phone-l) {
      width: 100%;
      padding: 0 1rem;
    }
  }

  &__input {
    width: 65rem;
    height: 4rem;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0 0 1.2rem 0 $cool-blue-30;
    background-color: $white-std;
    padding: 0.9rem 1.2rem;

    @include media(phone-l) {
      width: $full;
    }

    &::placeholder {
      width: 55rem;
      height: 2.2rem;
      font-weight: $f5;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: $grey-medium-std;

      @include media(phone-l) {
        width: 90%;
      }
    }
  }

  &__pdfContainer {
    padding: 1.6rem 0;

    // MEDIA QUERY
    @include media(phone-l) {
      padding: 1.6rem 1rem;
    }
  }
}
