.press {
  &__header {
    text-align: center;
    position: relative;
    min-height: 50vh;
    @include flexAlignCenter;

    // MEDIA QUERY
    @include media(tablet-l) {
      min-height: 40vh;
    }
  }

  &__title {
    margin-bottom: 2rem;
    // MEDIA QUERY
    @include media(tablet-l) {
      font-size: $typo-xl;
    }

    @include media(phone) {
      padding-top: 5rem;
    }
  }

  &__paragraph {
    width: 60%;
    margin: 0 auto;

    @include media(phone-l) {
      width: 90%;
    }

    a {
      color: $secondary-std;
    }
  }

  &__background {
    padding: 5rem 0;
    position: relative;
  }

  &__pattern {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
