.button {
  @include flexCenter;
  cursor: pointer;
  min-width: 17.5rem;
  padding: 1em 2em;
  outline: none;
  background: transparent;
  border: none;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: $typo-s;
  font-weight: $f5;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in 0s;

  &__gradient {
    background-image: $gradient;
    color: $white-std;

    &:hover {
      box-shadow: 0 0.5rem 1.2rem 0 $cool-blue-30;
    }
  }

  &__more {
    background-color: $white-std;
    color: $grey-medium-std;
    border: 0.1rem solid currentColor;

    &:hover {
      color: $secondary-std;
    }
  }

  &__demo {
    background-image: $gradient;
    color: $white-std;
    font-size: $typo-m;
    position: relative;

    @include media(phone-l) {
      width: $full;
    }

    &:hover {
      box-shadow: 0 0.5rem 1.2rem 0 $cool-blue-30;
    }

    &--navigation {
      font-size: $typo-s;
    }
  }

  &__webapp {
    background-color: $white-std;
    color: $secondary-std;
    border: 0.2rem solid currentColor;

    &:hover {
      box-shadow: 0 0.8rem 1.2rem 0 currentColor;
    }
  }

  &__price {
    background-color: transparent;
    color: $white-std;
    border: 0.2rem solid currentColor;

    &:hover {
      background-color: $white-std;
      color: $primary-std;
    }
  }

  &__white {
    background-color: $white-std;
    color: $primary-std;
    border: 0.2rem solid $white-std;

    &:hover {
      box-shadow: 0 0.8rem 1.2rem 0 $cool-blue-30;
    }
  }

  &:hover {
    transform: translateY(-2px);
  }
}
