.button {
  padding: 1em 2em;
  outline: none;
  background: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: $f5;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $typo-s;
  border-radius: 0.4rem;
  transition: transform 0.3s ease-in 0s;

  &__gradient {
    background-image: $gradient;
    color: $white-std;
    padding: 1.2rem 2rem;

    &:hover {
      box-shadow: 0 0.5rem 1.2rem 0 $cool-blue-30;
    }
  }

  &__more {
    background-color: transparent;
    color: $grey-medium-std;
    border: 0.1rem solid currentColor;

    &:hover {
      color: $secondary-std;
      border: 0.1rem solid currentColor;
    }
  }

  &__demo {
    background-color: transparent;
    color: $secondary-std;
    border: 0.2rem solid currentColor;

    &:hover {
      box-shadow: 0 0.8rem 1.2rem 0 currentColor;
    }
  }

  &__price {
    background-color: transparent;
    color: $white-std;
    border: 0.2rem solid currentColor;

    &:hover {
      background-color: $white-std;
      color: $cool-blue-30;
    }
  }

  &__white {
    background-color: $white-std;
    color: $primary-std;
    border: 0.2rem solid transparent;

    &:hover {
      box-shadow: 0 0.8rem 1.2rem 0 $cool-blue-30;
    }
  }

  &:hover {
    transform: translateY(-2px);
  }
}
