.hero {
  padding-top: 7.2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__home {
    &--image {
      position: absolute;
      top: 6rem;
      right: -9.2rem;
      object-fit: contain;
      max-height: 64rem;
    }
  }
}
