.hero {
  z-index: 1;
  padding-left: 15rem;

  // MEDIA QUERY
  @include media(desktop) {
    padding-left: 2rem;
  }

  @include media(tablet-l) {
    padding-left: 2rem;
    // padding-top: 7rem;
  }

  @include media(phone-l) {
    padding-left: 0rem;
  }
}
