.navigation {
  width: 100%;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;

  z-index: 100;
  position: absolute;
  background-color: transparent;

  &.sticky {
    box-shadow: 0 2px 12px 0 rgba(64, 147, 185, 0.2);
    position: fixed;
    background-color: white;
    animation-name: stickySlideDown;
    animation-duration: 0.5s;
    transition: 0.5s;
    transition: none;
  }

  @keyframes stickySlideDown {
    0% {
      opacity: 0.7;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__logo {
    object-fit: contain;
  }
  &__navbar {
    margin-left: auto;
  }
  &__items {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
  &__item {
    font-size: $typo-n;
    text-transform: uppercase;
    a.active {
      color: $azure;
    }
  }
  &__buttons {
    padding-left: 1.5rem;
  }
}
