.partners {
  // @include flexJustifyBetween;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  .partner {
    min-width: 15rem;
    // max-width: 33.33333333%;

    &__title {
      font-size: $typo-n;
      font-weight: $f5;
      margin-bottom: 1.5rem;
    }

    &__container {
      @include flexWrap;
      gap: 1rem;

      // MEDIA QUERY
      @include media(tablet-l) {
        gap: 0.5rem;
      }

      @include media(phone-l) {
        gap: 1rem;
      }

      img {
        height: 6rem;
        aspect-ratio: 16/ 9;
        object-fit: contain;

        // MEDIA QUERY
        // @include media(tablet-l) {
        //   height: 6rem;
        // }

        // @include media(phone-l) {
        //   height: 5rem;
        // }
      }
    }

    // MEDIA QUERY
    @include media(phone-l) {
      width: $full;
      max-width: $full;
      margin-bottom: 2rem;
    }
  }

  // MEDIA QUERY
  @include media(desktop-s) {
    gap: 2rem;
    padding: 2rem;
  }

  @include media(phone-l) {
    display: block;
  }
}
