.simplification {
  padding: 5rem 0;

  @include media(phone-l) {
    margin: 5rem 0;
    padding: 0 1.5rem;
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $grey-dark-std;
    font-size: $typo-xxl;
    font-weight: $f5;

    @include media(phone-l) {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  &__paragraph {
    width: 70%;
    font-size: $typo-l;
    padding-top: 4rem;
    line-height: 2.2rem;
    letter-spacing: normal;
    text-align: center;
    color: $grey-dark-85;

    @include media(phone-l) {
      width: 100%;
      font-size: $typo-m;
    }
  }

  &__cardContainer {
    padding-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__card {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 2.8rem 2rem;

    img {
      width: 30rem;
      // height: 30rem;
      aspect-ratio: 1;
      object-fit: contain;

      @include media(phone-l) {
        width: 25rem;
      }
    }

    // MEDIA QUERY
    @include media(tablet-l) {
      width: $full;
    }

    @include media(phone-l) {
      display: block;
      padding: 0;
      text-align: center;
    }
  }

  &__container {
    text-decoration: none;
    margin-left: 4rem;

    @include media(phone-l) {
      margin-left: 0;
      text-align: center;
    }

    h3 {
      padding-bottom: 1.2rem;
      font-size: $typo-xl;
      font-weight: $f6;
      line-height: $typo-xl;
      color: $grey-dark-85;

      @include media(phone-l) {
        margin-left: 0;
        text-align: center;
        font-size: $typo-l;
      }
    }

    p {
      font-size: $typo-m;
      font-weight: $f3;
      font-style: normal;
      font-stretch: normal;
      line-height: 2rem;
      letter-spacing: normal;
      color: $grey-dark-85;
    }
  }
}
